.hero-section {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1vmax;
  box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top, rgba(17, 17, 17, 0.301) 7%, transparent 95%);
  user-select: none;
}

.hero-image {
  margin-top: 9vmax;
  margin-left: 0;
  margin-right: 0;
  width: 50vmax;
  height: auto;
  -webkit-animation: mover 2.3s infinite  alternate;
  animation: mover 2.3s infinite  alternate;
}

@keyframes mover {
  0% { transform: translateY(0.2vmax); }
  100% { transform: translateY(-0.2vmax); }
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -2vmax;
  margin-left: 0;
  margin-right: 0;
}

.hero-text-title {
  font-size: 5vmax;
  margin-left: 4vmax;
}

.hero-text-subtitle {
  margin-left: 4vmax;
  margin-top: -5vmax;
  font-size: 2.5vmax;
  color: rgb(252, 206, 79);
}

.btn-hero {
  width: 30vmax;
  margin-left: 4vmax;
  font-size: 1.5vmax;
  margin-top: -1vmax;
  text-align: center;
  padding: 0.5vmax;
  border-radius: 0.5vmax;
  border: 0.2vmax solid #51e5ac;
  color: #51e5ac;
  transition: all ease 0.2s;
  text-decoration: none;
  cursor: pointer;
}
.btn-hero:hover {
  border: 0.2vmax solid #51e5ac;
  background-color: #51e5ac;
  color: #111;
  text-decoration: none;
  cursor: pointer;
}



@media (max-width: 768px) {

  .hero-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-gap: 1vmax;
  }
  
  .hero-image {
    margin-top: -60vmax;
    margin-left: 0;
    margin-right: 0;
    width: 90vmax;
    opacity: 0.4;
    overflow: hidden;
    height: auto;
    z-index: -2;
    -webkit-animation: mover 2.3s infinite  alternate;
    animation: mover 2.3s infinite  alternate;
  }
  
  @keyframes mover {
    0% { transform: translateY(0.2vmax); }
    100% { transform: translateY(-0.2vmax); }
  }
  
  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9vmax;
    margin-left: 0;
    margin-right: 0;
  }
  
  .hero-text-title {
    font-size: 9vmax;
    margin-left: 4vmax;
  }
  
  .hero-text-subtitle {
    margin-left: 4vmax;
    margin-top: -8vmax;
    font-size: 4vmax;
    color: rgb(252, 206, 79);
  }
  
  .btn-hero {
    width: 45vmax;
    margin-left: 4vmax;
    font-size: 3vmax;
    margin-top: -1.5vmax;
    text-align: center;
    padding: 0.5vmax;
    border-radius: 0.5vmax;
    border: 0.4vmax solid #51e5ac;
    color: #51e5ac;
    transition: all ease 0.2s;
    text-decoration: none;
    cursor: pointer;
  }
  .btn-hero:hover {
    border: 0.4vmax solid #51e5ac;
    background-color: #51e5ac;
    color: #111;
    text-decoration: none;
    cursor: pointer;
  }

}

@media (max-width: 600px) {
  .hero-image {
    margin-top: -60vmax;
    margin-left: 0;
    margin-right: 0;
    width: 70vmax;
    opacity: 0.4;
    overflow: hidden;
    height: auto;
    z-index: -2;
    -webkit-animation: mover 2.3s infinite  alternate;
    animation: mover 2.3s infinite  alternate;
  }
}


@media (max-width: 500px) {
  .hero-image {
    margin-top: -60vmax;
    margin-left: 0;
    margin-right: 0;
    width: 60vmax;
    opacity: 0.4;
    overflow: hidden;
    height: auto;
    z-index: -2;
    -webkit-animation: mover 2.3s infinite  alternate;
    animation: mover 2.3s infinite  alternate;
  }
}


@media (max-width: 425px) {
  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9vmax;
    margin-left: 0;
    margin-right: 0;
  }
  
  .hero-text-title {
    font-size: 7vmax;
    margin-left: 4vmax;
  }
  
  .hero-text-subtitle {
    margin-left: 4vmax;
    margin-top: -8vmax;
    font-size: 3vmax;
    color: rgb(252, 206, 79);
  }
  
  .btn-hero {
    width: 35vmax;
    margin-left: 4vmax;
    font-size: 2.5vmax;
    margin-top: -1.5vmax;
    text-align: center;
    padding: 0.5vmax;
    border-radius: 0.5vmax;
    border: 0.3vmax solid #51e5ac;
    color: #51e5ac;
    transition: all ease 0.2s;
    text-decoration: none;
    cursor: pointer;
  }
  .btn-hero:hover {
    border: 0.3vmax solid #51e5ac;
    background-color: #51e5ac;
    color: #111;
    text-decoration: none;
    cursor: pointer;
  }
  .hero-image {
    margin-top: -60vmax;
    margin-left: 0;
    margin-right: 0;
    width: 55vmax;
    opacity: 0.4;
    overflow: hidden;
    height: auto;
    z-index: -2;
    -webkit-animation: mover 2.3s infinite  alternate;
    animation: mover 2.3s infinite  alternate;
  }
}

@media (max-width: 375px) {
  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9vmax;
    margin-left: 0;
    margin-right: 0;
  }
  
  .hero-text-title {
    font-size: 7vmax;
    margin-left: 4vmax;
  }
  
  .hero-text-subtitle {
    margin-left: 4vmax;
    margin-top: -8vmax;
    font-size: 3vmax;
    color: rgb(252, 206, 79);
  }
  
  .btn-hero {
    width: 35vmax;
    margin-left: 4vmax;
    font-size: 2.5vmax;
    margin-top: -1.5vmax;
    text-align: center;
    padding: 0.5vmax;
    border-radius: 0.5vmax;
    border: 0.3vmax solid #51e5ac;
    color: #51e5ac;
    transition: all ease 0.2s;
    text-decoration: none;
    cursor: pointer;
  }
  .btn-hero:hover {
    border: 0.3vmax solid #51e5ac;
    background-color: #51e5ac;
    color: #111;
    text-decoration: none;
    cursor: pointer;
  }
  .hero-image {
    margin-top: -77vmax;
    margin-left: 0;
    margin-right: 0;
    width: 45vmax;
    opacity: 0.4;
    overflow: hidden;
    height: auto;
    z-index: -2;
    -webkit-animation: mover 2.3s infinite  alternate;
    animation: mover 2.3s infinite  alternate;
  }
}