/*--------------------------------------------------------------
#                    Projetos Geral
--------------------------------------------------------------*/

.projetos-section {
    height: 140vh;
    width: 100%;
    padding-top: 5vmax;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.3);
    padding-bottom: 15vmax;
    user-select: none;
}

/*--------------------------------------------------------------
#                    Projetos Título
--------------------------------------------------------------*/

.projetos-title {
    margin-top: 3.5vmax;
    font-size: 4vmax;
    text-align: center;
    color: rgb(252, 206, 79);
}

/*--------------------------------------------------------------
#                 Cards Projetos Container
--------------------------------------------------------------*/

.projetos1 {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: 35vmax;
    margin-right:35vmax;
    margin-top: -1vmax;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 2vmax;
}

/*--------------------------------------------------------------
#                           Modal
--------------------------------------------------------------*/

.black-and-white-modal {
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 3vmax;
    width: 70vmax;
    height: auto;
}

.responsive-modal {
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 3vmax;
    width: 70vmax;
    height: auto;
}


.netflixclone-modal {
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 3vmax;
    width: 70vmax;
    height: auto;
}

.button-close {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 2vmax;
    font-size: 1vmax;
    height: 2vmax;
    border-radius: 50%;
    background-color: rgba(17, 17, 17, 0.836);
    color: antiquewhite;
    cursor: pointer;
} 

.button-close:hover {
    background-color: rgb(25, 26, 25);
}

.header.off {
    position: relative;
    display: none;
}

/*--------------------------------------------------------------
#                    Card Black & White
--------------------------------------------------------------*/


.black-and-white-title {
    text-align: center;
    font-size: 2vmax;
}
.black-and-white {
    border-radius: 1vmax;
    width: 29vmax;
    height: auto;
    opacity: 0.8;
    transform: scale(0.9);
    transition: all ease 0.3s;
    cursor: pointer;
}
.black-and-white:hover{
    opacity: 1;
    transform: scale(1.1);
}


.black-and-white-icons {
    display: flex;
    margin-top: 2vmax;
    justify-content: center;
    align-items: center;
}
.black-and-white-plus {
    width: 2.5vmax;
    height: auto;
    margin-right: 0.25vmax;
    filter: brightness(50%);
    transition: all ease 0.4s;
    cursor: pointer;
}
.black-and-white-plus:hover {
    filter: brightness(1)
}

.black-and-white-github {
    width: 2.5vmax;
    height: auto;
    margin-left: 0.25vmax;
    filter: brightness(50%);
    transition: all ease 0.4s;
    cursor: pointer;
}
.black-and-white-github:hover {
    filter: brightness(1)
}

/*--------------------------------------------------------------
#                    Card Responsive
--------------------------------------------------------------*/

.responsive-title {
    text-align: center;
    font-size: 2vmax;
}
.responsive {
    border-radius: 1vmax;
    width: 29vmax;
    height: auto;
    opacity: 0.8;
    transform: scale(0.9);
    transition: all ease 0.3s;
    cursor: pointer;
}
.responsive:hover{
    opacity: 1;
    transform: scale(1.1);
}


.responsive-icons {
    display: flex;
    margin-top: 2vmax;
    justify-content: center;
    align-items: center;
}
.responsive-plus {
    width: 2.5vmax;
    height: auto;
    margin-right: 0.25vmax;
    filter: brightness(50%);
    transition: all ease 0.4s;
    cursor: pointer;
}
.responsive-plus:hover {
    filter: brightness(1)
}

.responsive-github {
    width: 2.5vmax;
    height: auto;
    margin-left: 0.25vmax;
    filter: brightness(50%);
    transition: all ease 0.4s;
    cursor: pointer;
}
.responsive-github:hover {
    filter: brightness(1)
}

/*--------------------------------------------------------------
#                    Card Netflix Clone
--------------------------------------------------------------*/

.netflixclone-title {
    text-align: center;
    font-size: 2vmax;
}
.netflixclone {
    border-radius: 1vmax;
    width: 29vmax;
    opacity: 0.8;
    height: auto;
    transform: scale(0.9);
    transition: all ease 0.3s;
    cursor: pointer;
}
.netflixclone:hover{
    opacity: 1;
    transform: scale(1.1);
}


.netflixclone-icons {
    display: flex;
    margin-top: 2vmax;
    justify-content: center;
    align-items: center;
}
.netflixclone-plus {
    width: 2.5vmax;
    height: auto;
    margin-right: 0.25vmax;
    filter: brightness(50%);
    transition: all ease 0.4s;
    cursor: pointer;
}
.netflixclone-plus:hover {
    filter: brightness(1)
}

.netflixclone-github {
    width: 2.5vmax;
    height: auto;
    margin-left: 0.25vmax;
    filter: brightness(50%);
    transition: all ease 0.4s;
    cursor: pointer;
}
.netflixclone-github:hover {
    filter: brightness(1)
}

  /*--------------------------------------------------------------
  #                 Responsive Sobre Mim
  --------------------------------------------------------------*/

    

  @media (max-width: 800px) {

    .projetos-section {
        height: auto;
        padding-top: 5vmax;
        padding-bottom: 15vmax;
    }


    /*--------------------------------------------------------------
    #                    Projetos Título
    --------------------------------------------------------------*/

    .projetos-title {
        margin-top: 0vmax;
        font-size: 7vmax;
    }

    /*--------------------------------------------------------------
    #                 Cards Projetos Container
    --------------------------------------------------------------*/

    .projetos1 {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-left:0vmax;
        margin-right:0vmax;
        margin-top: -11vmax;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-gap: 10vmax;
    }

    /*--------------------------------------------------------------
    #                    Card Black & White
    --------------------------------------------------------------*/


    .black-and-white-title {
        margin-top: 9vmax;
        text-align: center;
        font-size: 4vmax;
    }
    .black-and-white {
        margin-top: 1vmax;
        width: 70vmax;
    }

    .black-and-white-icons {
        display: flex;
        margin-top: 2vmax;
        justify-content: center;
        align-items: center;
    }

    .black-and-white-plus {
        width: 9vmax;
        margin-right: 1vmax;
    }

    .black-and-white-github {
        width: 9vmax;
        margin-left: 1vmax;
    }

    /*--------------------------------------------------------------
    #                    Card Responsive
    --------------------------------------------------------------*/

    .responsive-title {
        text-align: center;
        font-size: 4vmax;
    }
    .responsive {
        margin-top: 1vmax;
        width: 70vmax;
    }

    .responsive-icons {
        display: flex;
        margin-top: 2vmax;
        justify-content: center;
        align-items: center;
    }

    .responsive-plus {
        width: 9vmax;
        margin-right: 1vmax;
    }

    .responsive-github {
        width: 9vmax;
        margin-left: 1vmax;
    }
    

    /*--------------------------------------------------------------
    #                    Card Netflix Clone
    --------------------------------------------------------------*/

    .netflixclone-title {
        text-align: center;
        font-size: 4vmax;
    }
    .netflixclone {
        margin-top: 1vmax;
        width: 70vmax;
    }

    .netflixclone-icons {
        display: flex;
        margin-top: 2vmax;
        justify-content: center;
        align-items: center;
    }

    .netflixclone-plus {
        width: 9vmax;
        margin-right: 1vmax;
    }

    .netflixclone-github {
        width: 9vmax;
        margin-left: 1vmax;
    }

    
/*--------------------------------------------------------------
#                           Modal
--------------------------------------------------------------*/

    .black-and-white-modal {
        position: absolute;
        top: 20%;
        left: 10%;
        border-radius: 3vmax;
        width: 70vmax;
        height: auto;
    }
    
    .responsive-modal {
        position: absolute;
        top: 20%;
        left: 10%;
        border-radius: 3vmax;
        width: 70vmax;
        height: auto;
    }
    
    
    .netflixclone-modal {
        position: absolute;
        top: 20%;
        left: 10%;
        border-radius: 3vmax;
        width: 70vmax;
        height: auto;
    }
    
    .button-close {
        position: absolute;
        right: 5%;
        top: 10%;
        width: 4vmax;
        font-size: 2vmax;
        height: 4vmax;
        border-radius: 50%;
        background-color: rgba(17, 17, 17, 0.836);
        color: antiquewhite;
        cursor: pointer;
    } 
    
    .button-close:hover {
        background-color: rgb(25, 26, 25);
    }
    
  }

  @media (max-width: 425px) {
    .black-and-white {
        width: 50vmax;
        height: auto;
    }

    .responsive {
        width: 50vmax;
        height: auto;
    }
    .netflixclone {
        width: 50vmax;
        height: auto;
    }

}

@media (max-width: 375px) {
    .black-and-white {
        width: 50vmax;
        height: auto;
    }

    .responsive {
        width: 50vmax;
        height: auto;
    }
    .netflixclone {
        width: 50vmax;
        height: auto;
    }

}


  @media (max-width: 1400px) and (min-height: 1480px) {

    .projetos-section {
        height: auto;
        background-size: auto;
        padding-top: 5vmax;
        padding-bottom: 15vmax;
        background-image:  url('../backgrounds/background-projetos.png');
        background-color: #111;
        user-select: none;
    }


    /*--------------------------------------------------------------
    #                    Projetos Título
    --------------------------------------------------------------*/

    .projetos-title {
        margin-top: 2vmax;
        font-size: 6vmax;
    }

    /*--------------------------------------------------------------
    #                 Cards Projetos Container
    --------------------------------------------------------------*/

    .projetos1 {
        display: grid;
        justify-content: center;
        align-items: center;
        margin-left:0vmax;
        margin-right:0vmax;
        margin-top: -1.5vmax;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-gap: 5vmax;
    }

    /*--------------------------------------------------------------
    #                    Card Black & White
    --------------------------------------------------------------*/


    .black-and-white-title {
        text-align: center;
        font-size: 3.5vmax;
    }
    .black-and-white {
        margin-top: -4vmax;
        width: 47vmax;
    }

    .black-and-white-icons {
        display: flex;
        margin-top: -2vmax;
        justify-content: center;
        align-items: center;
    }

    .black-and-white-plus {
        width: 5vmax;
        margin-right: 1vmax;
    }

    .black-and-white-github {
        width: 5vmax;
        margin-left: 1vmax;
    }

    /*--------------------------------------------------------------
    #                    Card Responsive
    --------------------------------------------------------------*/

    
    .responsive-title {
        text-align: center;
        font-size: 3.5vmax;
    }
    .responsive {
        margin-top: -4vmax;
        width: 47vmax;
    }

    .responsive-icons {
        display: flex;
        margin-top: -2vmax;
        justify-content: center;
        align-items: center;
    }

    .responsive-plus {
        width: 5vmax;
        margin-right: 1vmax;
    }

    .responsive-github {
        width: 5vmax;
        margin-left: 1vmax;
    }
    

    /*--------------------------------------------------------------
    #                    Card Netflix Clone
    --------------------------------------------------------------*/

    .netflixclone-title {
        text-align: center;
        font-size: 3.5vmax;
    }
    .netflixclone {
        margin-top: -4vmax;
        width: 47vmax;
    }

    .netflixclone-icons {
        display: flex;
        margin-top: -2vmax;
        justify-content: center;
        align-items: center;
    }

    .netflixclone-plus {
        width: 5vmax;
        margin-right: 1vmax;
    }

    .netflixclone-github {
        width: 5vmax;
        margin-left: 1vmax;
    }
  }